/*****************************
Dashboard
******************************/
.main {
  min-height: 445pt;
  background-color: blue; }
  .main > div {
    background-color: red;
    margin: 0 auto;
    width: 960px;
    min-height: 700px;
    padding: 2px; }

/*******************
Navigation Side Page
********************/
aside {
  float: left;
  width: 300px;
  min-height: 700px;
  background-color: yellow;
  /*******************
Nav routes, titles, and calendar
********************/ }
  aside > header {
    height: 60px;
    background-color: orange;
    border-right: 2px solid #ccc; }
  aside .nav {
    background-color: gray;
    font-size: 1em;
    padding-top: 6pt;
    padding-right: 2pt;
    border-bottom: 2pt solid black;
    margin: 3pt;
    min-height: 22pt; }
    aside .nav span {
      margin-bottom: 10px;
      font-size: .7em;
      display: inline-block; }
  aside .calendar {
    background-color: gray;
    margin-top: 80%;
    min-height: 155pt; }

/*******************
Main Content
********************/
.main > div {
  /*******************
graph, plans, and inputs
********************/
  /*****************************
New Plan
******************************/
  /*****************************
Adjust Plan
******************************/
  /*****************************
Home
******************************/ }
  .main > div > header {
    height: 60px;
    background-color: orange;
    text-align: center; }
    .main > div > header .page-name {
      float: left;
      background-color: blue;
      width: 100px; }
    .main > div > header .menu {
      float: left;
      background-color: pink;
      width: 100px; }
    .main > div > header .user {
      margin-left: 85%;
      background-color: pink;
      width: 100px; }
  .main > div .visual {
    background-color: lightblue;
    min-height: 240pt; }
  .main > div .plan {
    background-color: green;
    min-height: 80pt; }
  .main > div .input {
    background-color: magenta;
    min-height: 170pt; }
  .main > div .new-plan {
    background-color: orange;
    min-height: 180pt;
    margin-top: 60pt; }
  .main > div .data {
    background-color: green;
    min-height: 150px;
    margin-top: 40px; }
  .main > div .welcome-image {
    background-color: green;
    min-height: 175pt; }
  .main > div .login {
    background-color: pink;
    min-height: 225pt;
    width: 50%;
    margin: 0 auto;
    margin-top: 44pt; }
    .main > div .login > header {
      background-color: maroon;
      text-align: center; }
    .main > div .login > .form {
      background-color: gray;
      width: 55%;
      min-height: 70pt;
      margin: 0 auto;
      margin-top: 25%; }
