/****************************************************
Variables
****************************************************/
/****************************************************
Every Page CSS
****************************************************/
body {
  font-family: Numans; }

.page {
  padding: 2px;
  height: 100%; }
  .page > header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 1001;
    background-color: rgba(221, 221, 221, 0.5); }
    .page > header .menu, .page > header .location, .page > header .user {
      display: inline-block;
      color: #104C4C; }
    .page > header .menu {
      margin-top: 15px; }
      .page > header .menu .show-menu {
        margin: 10px;
        text-decoration: none;
        color: black; }
    .page > header .user {
      position: fixed;
      right: 5px;
      top: 15px; }

.primary-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 375px;
  padding-top: 50px;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: translateX(-375px);
  -ms-transform: translateX(-375px);
  transform: translateX(-375px);
  z-index: 1000;
  background-color: rgba(47, 45, 45, 0.9); }
  .primary-menu .nav:first-child {
    margin-top: 12px; }
  .primary-menu .nav:last-child {
    border-bottom: 1px solid #aaa; }
  .primary-menu > .nav {
    min-height: 30px;
    width: 90%;
    margin: 0;
    margin-left: 10px;
    padding-top: 12px;
    border-top: 1px solid #aaa; }
    .primary-menu > .nav > i {
      margin-left: 5px;
      color: #aaa; }
    .primary-menu > .nav > span {
      color: #aaa; }
    .primary-menu > .nav a {
      text-decoration: none;
      color: #aaa; }
  .primary-menu .nav:hover {
    background-color: rgba(113, 110, 110, 0.9);
    border-top: 1px solid #88CCCC; }
  .primary-menu .calendar {
    position: fixed;
    bottom: 10px;
    left: 15px;
    right: 15px;
    min-height: 175px; }

.primary-menu.show {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

/***************************
Dashboard
***************************/
.graph {
  border-top: 2px solid rgba(0, 0, 0, 0.48);
  border-bottom: 2px solid rgba(0, 0, 0, 0.48);
  margin-top: 50px;
  min-height: 375px; }
  .graph .table {
    border: 4px solid black; }

.information {
  min-height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(221, 221, 221, 0.8);
  text-align: center;
  font-size: .9em; }
  .information > .info {
    margin-bottom: 15px; }
    .information > .info > span {
      color: #104C4C;
      font-size: 2em; }
    .information > .info > .plan-info {
      margin: 0;
      color: rgba(0, 0, 0, 0.8);
      margin-bottom: 5px; }
      .information > .info > .plan-info > strong {
        color: #5EA3A3; }
      .information > .info > .plan-info p {
        margin-bottom: 10px; }

.dials {
  min-height: 400px;
  padding-top: 10px; }
  .dials button {
    display: block;
    margin: 0 auto; }

.dials > * + * {
  margin-top: 10px; }

.dial {
  min-height: 100px;
  margin-bottom: 10px; }
  .dial > div {
    width: 170px;
    margin: 0 auto;
    padding-top: 20px; }
    .dial > div > header {
      margin-bottom: 5px;
      text-align: center;
      border-radius: 2px;
      background-color: rgba(137, 136, 136, 0.71); }
    .dial > div input.knob {
      outline: none; }

/***************************
Home/Login
***************************/
.welcome-image {
  margin-top: 50px;
  min-height: 200px;
  background-color: green; }

.login {
  min-height: 200px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: pink;
  border: 4px solid #000;
  border-radius: 2px; }
  .login > header {
    background-color: orange;
    min-height: 60px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 10px; }
    .login > header > h2 {
      margin: 0; }
    .login > header > span {
      display: block;
      padding-top: 15px; }

.form {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 2px;
  overflow: hidden; }
  .form div.input {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    padding: 12px 4px 12px 5px; }
  .form div.input:first-child {
    border-top: none; }
  .form div.input:hover i {
    color: #999; }
  .form div.input i {
    color: #aaa; }
  .form div.input input {
    margin-left: 5px;
    outline: none;
    border: none;
    background-color: transparent;
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    float: right;
    color: #222; }

button {
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  min-height: 50px; }

/***************************
signup
***************************/
.common-image {
  margin-top: 50px;
  min-height: 200px;
  background-color: green; }

/***************************
New Plan
***************************/
/***************************
Adjust Plan
***************************/
.current-plan {
  margin-top: 40px; }
  .current-plan .dial-fixed {
    width: 32.33%;
    display: inline-block;
    background-color: blue;
    text-align: center; }
    .current-plan .dial-fixed h1 {
      margin: 0; }
    .current-plan .dial-fixed > span {
      display: inline-block;
      margin-top: 15%;
      margin-left: 10%; }

/***************************
Adjust Plan
***************************/
.about-us {
  background-color: pink;
  padding-top: 10px; }
  .about-us > p.about {
    width: 75%;
    min-height: 120px;
    margin: 0 auto;
    background-color: yellow; }
